html {  
    font-size: 10px;  
    font-family: sans-serif;  
}


p {  
    font-size: 1.6rem;
    line-height: 1.5;
}  


h2 {
    /* font-family: 'billabong'; */
    font-family: 'Lobster Two', cursive;
    text-align: center;  
    font-weight: 100;  
    font-size: 13rem;  
    margin: 2rem 0;  
    letter-spacing: -1px;  
    color: black;  
    text-decoration: none;  
}

h2 a{
    color:black;
    text-decoration: none;
}

/* @font-face {  
    font-family: 'billabong';  
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
} */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

.photogrid {  
    display: flex;  
    flex-wrap: wrap;  
    max-width: 1000px;  
    margin: 0 auto;  
}

.figure {  
    /* flex-basis: 60%;   */
    flex-basis: calc(33.333%); 
    border: 1px solid #d3d3d3;  
    /* padding: 2rem;    */
    padding: 2rem;
    flex-grow: 1;  
    /* margin: 0 2rem 2rem 2rem; */
    margin: 0 2rem 2rem 2rem;    
}

.photo {  
    width: calc(100% + 4rem);  
    margin-left: -2rem;  
    margin-top: -2rem;  
    max-width: none;  
}

.button-container {
    display: flex; 
    justify-content: center;  
}

.remove-button { 
    flex-basis: 48%; 
    color: red; 
    font-size: 15px;
    border: 2px solid #f2f2f2;  
    line-height: 2; 
    padding: 5px;
}

.addicon {  
    background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;  
    background-size: contain;  
    padding: 40px;  
    display: table;  
    margin: 20px auto;  
    border: none;  
}

.form {
    background-color: white;
    margin: 0 auto;
    max-width: 360px;    
    padding: 45px;
    text-align: center;

    /*width: 360px;
    padding: 0 0 0;  
    margin: auto;*/
}  
   
.form input {  
    font-family: sans-serif;
    background: #f2f2f2;  
    width: 100%;  
    border: none;
    padding: 15px;  
    box-sizing: border-box;  
    font-size: 14px;
    margin: 0 0 15px;

    /*outline: 0;
    border: 0; */
}

.form button {  
    font-family: sans-serif;  
    text-transform: uppercase;      
    background:#065784;  
    width: 100%;  
    border: 0;  
    padding: 15px;  
    color: #FFFFFF;  
    font-size: 14px;  
    cursor: pointer;
    
    /*font-family: "Roboto", sans-serif;
      outline: 0;
      -webkit-transition: all 0.3 ease;  
      transition: all 0.3 ease;  */
}

.form button:hover {
    background-color: dimgrey;
    /*border-color: blue;*/
}
    
    
    
    